// .grid {
//   $grid-width: 100%;
//   max-width: 80%;
//     background-color: lightgrey;
//     outline: 2px solid red;
//     @extend .clearfix;
//     width: $grid-width;
//     margin: 0 auto;
//     .unit {
//         background-color: grey;
//         outline: 2px solid blue;
//         float: left;
//         width: ($grid-width/8);
//         padding-left: 1em;
//         padding-right: 1em;
//         box-sizing: border-box;
//     }
//     .unit-span-2 {
//       @extend .unit;
//       width: ($grid-width/4);
//     }
//     .unit-span-4 {
//       @extend .unit;
//       width: ($grid-width/2);
//     }
//     .offset-2 {
//       margin-left: ($grid-width/4);
//     }
// }
.grid {
    $grid-width: 100%;
    max-width: 100%;
    @extend .clearfix;
    width: $grid-width;
    .unit {
        float: left;
        font-size: 200%;
        outline: 2px solid green;
        width: ($grid-width/5);
        background-color: khaki;
        padding: 0 1em;
        box-sizing: border-box;
        &.two {
          width: ($grid-width/5) * 2;
          &.push {
            float: right;
            // margin: ($grid-width/5);
          }
        }
        &.three {
          width: ($grid-width/5) * 3;
          margin-left: ($grid-width/5);
        }
        &.four {
          width: ($grid-width/5) * 4;
          margin-left: ($grid-width/10);
        }
        &.five {
          width: $grid-width;
        }
    }
}
@media screen and (max-width: 30em) {

  .grid {
    $grid-width:100%;
    .unit {
      width: $grid-width;
      &.two {
        width: $grid-width;
      }
      &.three {
        width: $grid-width;
        margin: 0;
      }
      &.four {
        width: $grid-width;
        margin: 0;
      }
    }
  }

  .mobile {
    display: none;
  }

}
